* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .form {
  width: 100%;
  padding: 1.5rem;
  background-color: #eee;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form .input {
  width: 80%;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #151534;
}

.container .form .add {
  background-color: rgb(255, 61, 27);
  border: none;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .tasks {
  background-color: #eee;
  width: 95%;
  margin: 2rem auto;
  min-height: 100px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  background-color: #fff;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
}

.tasks .task:not(:last-child) {
  margin-bottom: 1rem;
}

.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task .del {
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  margin-left: 0.2rem;
  cursor: pointer;
}

.tasks .task .edit {
  font-weight: bold;
  font-size: 10px;
  background-color: green;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .container {
    min-width: 100%;
  }
  .container .form {
    flex-direction: column;
  }
  .container .form .input {
    width: 100%;
    margin: 0;
  }
  .container .form .add {
    padding: 10px;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .tasks .task h2 {
    font-size: 16px;
    font-weight: bold;
  }
}
